@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    list-style: none;
    box-sizing: border-box;
    outline: none;
   font-family: 'Kanit',sans-serif;
   scroll-behavior: smooth;
}
body,html{
    width: 100vw;
    overflow-x: hidden;
}
input,button{
    width: 100%;
    background-color: transparent;
    outline: none !important;

}
.ellipsis {
    display: -webkit-box;      /* Important for the flex layout */
    -webkit-box-orient: vertical; /* Makes the box vertical */
    -webkit-line-clamp: 2;   /* Limits the text to 2 lines */
    overflow: hidden;         /* Hides the overflow text */
    text-overflow: ellipsis; /* Adds the ellipsis */
    /* max-height: 3em;       
    line-height: 1.5em;      */
}